.lite-select
  box-sizing: border-box
  position: relative
  display: inline-block
  cursor: pointer
  height: 22px
  background: #fff
  .lite-select-value
    position: relative
    display: flex
    align-items: center
    justify-content: space-between
    max-height: 22px
    border: 1px solid #d9d9d9
    border-radius: 2px
    padding: 2px 15px 2px 5px
    .lite-select-ipt,.lite-select-text
      border: none
      outline: none
      font-size: 14px
      color: rgba(0,0,0,0.65)
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      font-family: 'Arial'
      font-size: 12px
    .lite-select-down
      position: absolute
      right: 3px
      top: 6px
      border-top: 7px solid rgba(99, 99, 99, 0.85)
      border-left: 5px solid rgba(0,0,0,0)
      border-right: 5px solid rgba(0,0,0,0)
      height: 0px
      width: 0px
  .lite-select-ul
    position: absolute
    max-width: 100%
    width: 100%
    margin: 3px 0 0 0
    padding: 0px
    border: 1px solid #d9d9d9
    list-style-type: none
    outline: none
    z-index: 1000
    background: #fff
    .lite-select-li
      max-width: 100%
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      margin: 3px 0
      padding: 0 0 0 5px
      font-size: 12px;
      color: rgba(0,0,0,0.65)
    :hover
      background: #dedede