.lite-checkbox
  display: inline-block
  position: relative
  cursor: pointer
  .lite-checkbox-box
    box-sizing: border-box
    display: inline-block
    background: #fff
    border: 1px solid #d9d9d9
    height: 16px
    width: 16px
    transition: all .1s cubic-bezier(.71, -0.46, .88, .6),opacity .1s
    &:after
      content: ''
      display: inline-block
      width: 5px
      height: 9px
      transform: translate(50%, -30%) rotate(45deg)
      opacity: 0
      transition: all .1s cubic-bezier(.71, -0.46, .88, .6),opacity .1s
  .lite-checkbox-label
    user-select: none
    font-size: 14px
    line-height: 14px
    position: relative
    top: -2px
    margin: 0 4px

.lite-checkbox-checked
  .lite-checkbox-box
    border: 1px solid #1890ff
    background: #1890ff
    &:after
      border: 2px solid #fff
      border-top: 0
      border-left: 0
      opacity: 1