.lite-expand
  position: relative
  background: rgba(0, 0, 0, 0.1)
  .lite-expand-title
    display: flex
    flex-direction: row
    align-items: center
    height: 30px
    background: rgba(0, 0, 0, 0.2)
    user-select: none
    .lite-expand-title-cross
      margin: 0 5px
    .lite-expand-title-text
      font-size: 14px
      color: #fff