.lite-radio-wrapper
  box-sizing: border-box
  display: inline-block
  height: 20px
  .lite-radio
    position: relative
    width: 16px
    height: 16px
    border: 1px solid #d9d9d9
    background: #fff
    display: inline-block
    border-radius: 8px
    transition: all .3s
    .lite-radio-dot
      position: absolute
      display: inline-block
      border-radius: 5px
      width: 10px
      height 10px
      top: 3px
      left: 3px
      transition: all .3s
  .lite-radio-label
    position: relative
    bottom: 4px
    margin: 0 4px
    font-size: 14px
    color: rgba(0,0,0,0.65)


.lite-radio-wrapper-checked
  .lite-radio
    border-color: #1890ff
    .lite-radio-dot
      background: #1890ff

.lite-radio-group
  display: flex
  justify-items: center
  .lite-radio-wrapper
    margin: 0 8px 0 0