.lite-collapse
  box-sizing: border-box
  position: relative
  .lite-collapse-head
    box-sizing: border-box
    position: relative
    height: 30px
    padding: 0 20px
    margin: 0 0 1px 0
    color: #ffffff
    background: rgba(0, 0, 0, 0.3)
    line-height: 30px
    .lite-icon
      position: absolute
      box-sizing: border-box
      right: 10px
      top: 3px
      cursor: pointer
    .lite-collapse-title
      box-sizing: border-box
      font-weight: 100
      font-size: 14px
  .lite-collapse-content
    box-sizing: border-box
    position: relative
    display: block
  .lite-collapse-hidden
    box-sizing: border-box
    display: none